@model IEnumerable<Movie.Domain.Models.TVShows.Seasons>

@{
    ViewData["Title"] = $"فصل های نمایش {ViewBag.ParentShowName}";
}

<h1>فصل های نمایش "@ViewBag.ParentShowName"</h1> @* نمایش نام نمایش والد در عنوان صفحه *@

<p>
    @* 👇👇👇 لینک اضافه کردن فصل جدید برای این نمایش والد 👇👇👇 *@
    @* باید showId نمایش والد را به اکشن Create ارسال کنیم تا فصل جدید به آن مرتبط شود *@
    <a asp-action="Create" asp-route-showId="@ViewBag.ParentShowId">افزودن فصل جدید</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SeasonNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SeasonDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShowLists)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifiedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsDeleted)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SeasonNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SeasonDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShowLists.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDeleted)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
